/*BASIC SETUP*/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #191718;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

container,
container-fluid,
row {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
}

h1,
h3 {
    word-spacing: 2px;
    letter-spacing: 1px;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 180%;
}


/*Heading background color effect*/

h1:after,
h2:after {
    height: 5px;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    background-color: orange;
    content: ' ';
    display: block;
}

section {
    margin-bottom: 30px;
}


/*Eliminate White Space below footer*/

.section-faqs {
    min-height: 40vh;
}

.section-generalinfo,
.section-services {
    min-height: 60vh;
}


/*Eliminate White Space below footer*/

.section-classes,
.section-thankyou {
    min-height: 100vh;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.centericons {
    text-align: center;
    width: 100%;
}


/*NAV MENU*/

nav {
    margin-bottom: 0px;
}

.indexnav {
    margin-bottom: 0px;
}

.main-nav {
    list-style: none;
    margin-top: 0px;
    text-align: right;
    border: 0;
    letter-spacing: 4px;
    font-weight: 700;
}

.main-nav li {
    display: inline;
}

.main-nav li a {
    float: right;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.navbar-toggler-icon {
    color: black;
}

.logo {
    height: 130px;
    width: 130px;
    width: auto;
    margin-top: 0px;
    margin-left: 40px;
}

.jumbotron {
    font-family: 'Montserrat', sans-serif;
    padding: 40px 0;
    background: url("../images/gym5.jpg") center center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-weight: 900;
    position: relative;
}


/*----HOME PAGE QUOTE----*/


/*Jumbotron with CTA Button, Image & Quote.*/

.blockquote-jumbotron {
    font-weight: 700;
    font-size: 150%;
    margin-top: 60px;
}

.quotes {
    font-size: 400%;
    font-weight: 700;
}


/*----BUTTON----*/

.ctabutton,
.signupbtn {
    font-size: 100%;
    padding: 20px;
    background-color: #e67e22;
    color: #fff;
    font-weight: 700;
    padding: 30px;
}

.ctabutton {
    margin-top: 0px;
}

.signupbtn {
    padding: 15px;
}

.formbtn {
    margin-top: -30px;
    margin-left: -20px;
    text-align: left;
}


/*CAROUSEL*/

#client-testimonial-carousel {
    min-height: 400px;
}

.section-testimonials {
    margin-bottom: 50px;
}

.section-testimonials h1,
p {
    font-weight: 500;
}

.section-testimonials h1 {
    color: #000;
}

.section-testimonials p {
    color: #fff;
}

.section-testimonials h2 {
    margin-bottom: 40px;
}

.carousel-inner {
    height: 600px;
    padding: 0px;
    background: black;
}

.carousel img {
    width: 150px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.blockquote {
    margin-top: 0px;
    color: #000;
    font-weight: 900;
}

.clientname {
    color: #fff;
    margin: 0px;
    font-weight: 800;
}

.client-review-stars {
    background-color: #000;
    color: #fff;
}

.client-review-stars i {
    color: #fff;
}


/*GENERAL INFO*/

.section-generalinfo {
    margin-bottom: 50px;
}

.section-generalinfo img {
    height: 80%;
    width: 90%;
}

.section-generalinfo p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
    text-align: left;
    max-width: 50ch;
}

.textblock {
    margin-top: 70px;
}

.textblock2 {
    margin-top: 40px;
}


/*JOIN PAGE*/

.section-memberships {
    /*Set max-width so that the membership plans section don't strecht too much in big screens */
    max-width: 1300px;
    margin-top: 0px;
}

.membership-fees {
    height: 320px;
}

.membership-type {
    height: 100px;
}

.membership-box {
    padding-top: 20px;
    margin: 20px 10px;
    color: #fff;
    background: #101110e5;
    border-radius: 20px;
    box-shadow: 0 2px 2px #efefef;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.membership-box div {
    padding: 15px;
    border-bottom: 5px solid #e8e8e8;
}

.membership-box div:fist-child {
    background-color: #fff;
}

.membership-price {
    font-size: 150%;
    margin-bottom: 10px;
    font-weight: 700;
    color: #e67e22;
}

.membership-price span,
.membership-fee {
    font-size: 80%;
    font-weight: 300;
}

.section-memberships i {
    font-size: 150%;
    color: #e67e22;
}

.membership-description {
    font-weight: 900;
}

.faqsbox {
    border-radius: 7px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.headingfaqs {
    color: #000;
}

.section-faqs summary {
    color: #e67e22;
}

summary {
    font-weight: 700;
}

.faqsanswer {
    word-spacing: 5px;
    margin-top: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: 400;
}

.faqsanswer p {
    font-size: 85%;
    text-align: left;
    line-height: 1.5;
    font-weight: 500;
}

details {
    background: #f1efef;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 20px;
}


/*CLASSES  PAGE*/

.section-classes {
    line-height: 1;
}

.classesblock {
    margin-bottom: 60px;
}

.card {
    box-shadow: 5px 5px black;
}

.cardblock {
    margin-bottom: 20px;
}


/*classes hover efect*/

.card:hover {
    opacity: 0.8;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.section-classes p {
    font-size: 80%;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.section-services h2 {
    text-transform: capitalize;
}

.section-services img {
    max-height: 400px;
    margin-bottom: 30px;
    min-width: 300px;
}

.section-services ul {
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}

.section-services p,
.section-services li {
    font-size: 80%;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin-bottom: 10px;
}

.services {
    text-align: center;
}


/*CONTACT PAGE*/

.section-faqs,
.section-contactinfo,
.section-copyrightsinfo {
    margin-bottom: 80px;
}


/*contact info background image*/

.contactbackground {
    background-image: url("../images/formphoto2.jpg");
    background-size: 750px;
    background-position: top;
    background-repeat: no-repeat;
}

.contactblock {
    margin: 0 auto;
    margin-top: 120px;
}

.contactblock p {
    margin: 60px;
    color: #fff;
    font-weight: 900;
    font-size: 1.2rem;
}


/*FORMS*/

.contact-form {
    width: 200%;
}

.contact-form input {
    margin-bottom: 20px;
}

textarea {
    height: 120px;
}

.fieldtype {
    font-weight: 500;
    margin-bottom: 0px;
}

.contactinfo i {
    color: #fff;
    font-size: 150%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 50%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

input[type=submit] {
    display: inline-block;
    padding: 15px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 140px;
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    -ms-border-radius: 140px;
    -o-border-radius: 140px;
    background-color: #e67e22;
    border: 1px solid;
    color: #fff;
}

.joinform ::placeholder {
    width: 100%;
    color: #000;
}

.joinform placeholder {
    font-weight: 800;
}

.joinform input {
    margin-bottom: 5px;
}

.joinform textarea {
    height: 80px;
    margin: 0 auto;
    width: 90%;
}

.modal h2 {
    color: #fff;
    font-weight: 900;
}

.modal-content {
    background: url("../images/weightlifting3.jpg") center center;
    background-size: cover;
}

.modal-content input,
.membership-select select {
    margin: 0 auto;
    width: 90%;
}

.membership-select select {
    padding: 20px;
    margin-bottom: 30px;
}


/*FOOTER*/

footer {
    background-color: rgba(0, 0, 0, 0.87);
    padding: 20px 0px 20px 0px;
    font-size: 80%;
    color: #fff;
    min-height: 50px;
}

.footer-nav {
    list-style: none;
}

.footer-nav li,
.copyrights-text,
.smedia-links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

footer p {
    font-weight: 700;
    font-size: 120%;
}

.smedia-links li i {
    color: #fff;
    font-size: 200%;
}


/*MEDIA QUERIES*/


/*Big Tables to 1170px (container-fluid Bootstrap Class max-width */

@media only screen and (max-width:1170px) {}


/*Small tablets to big tablets - from 768px to 1023px  */

@media only screen and (max-width:1023px) {
    .section-generalinfo p {
        font-size: 70%;
    }
    .classesblock {
        margin-bottom: 20px;
    }
    .cardblock {
        margin-bottom: 30px;
    }
    .section-contactinfo {
        margin-bottom: 50px;
    }
    .fieldtype {
        margin-bottom: -20px;
    }
    .contact-form input {
        margin-bottom: 10px;
    }
    .contactbackground {
        background-size: 150% 150%;
        margin-bottom: 20px;
    }
    .contactblock {
        margin: 30px;
    }
    .contactblock p {
        font-size: 90%;
    }
    .membership-box {
        margin: 20px 20px;
    }
}


/*Small phones to small tablets - from 481 to 767 px  */

@media only screen and (max-width: 767px) {
    .nav-item {
        margin-bottom: 15px;
    }
    .section-generalinfo p {
        font-size: 75%;
        line-height: 1.8;
        text-align: left;
        max-width: 50ch;
    }
    .section-generalinfo .textblock,
    .section-generalinfo .textblock2 {
        margin-top: 0px;
    }
    .section-generalinfo img {
        margin-bottom: 10px;
    }
    .cardblock p {
        font-size: 80%;
    }
    .faqsbox {
        width: 450px;
    }
    .faqsanswer p {
        font-size: 80%;
        max-width: 40ch;
    }
    .membership-box {
        margin: 20px 100px;
    }
    .membership-fees {
        height: 350px;
    }
}


/*Small phones - from 0 to 480 px  */

@media only screen and (max-width:480px) {
    h1 {
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 170%;
    }
    .faqsbox {
        width: 350px;
    }
    .faqsanswer p {
        font-size: 70%;
    }
    .membership-box {
        margin: 20px 20px;
    }
}